
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<html>
<head>
	<title>Nazila Rahma</title>
	
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" >
	
	
	
	<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
		<nav class="navbar navbar-expand-lg warnaNavbar fixed-top">
	  		<a class="navbar-brand" href="{% url 'homepage:index' %}"> HOME</a>
			<a class="navbar-brand" href="{% url 'homepage:mine' %}"> GALLERY</a>
			<a class="navbar-brand" href="{% url 'homepage:post_new' %}"> FORM </a>
			<a class="navbar-brand" href="{% url 'homepage:post_list' %}"> SCHEDULE</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
	  		</button>
	  		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    	<div class="navbar-nav ml-auto">
	      <a class="nav-item nav-link">Nazila Rahma</a> 
	    </div>
	  </div>
	</nav>
	{% block content %}
	{% endblock %}
	<div class="fixed">
	    <a href="mailto:nazilarhmh@gmail.com" ><img src="https://cdn3.iconfinder.com/data/icons/social-circle/512/647403-email-512.png" height="40" width="40" ></a>
		  <a href="https://www.linkedin.com/in/nazilarahma/" target="_blank"> <img src="https://cdn3.iconfinder.com/data/icons/social-circle/512/social_7-128.png" height="40" width="40" ></a>
		  <a href="https://www.instagram.com/nazilarhm/" target="_blank"> <img src="https://cdn3.iconfinder.com/data/icons/social-circle/512/social_6-128.png" height="40" width="40" ></a>
	      <a href="https://www.facebook.com/profile.php?id=100002749623591" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/social-circle/512/social_3-128.png" height="40" width="40" ></a>
		  <a href="https://www.youtube.com/channel/UCPxMVS6f8NMtUXE0Irp8W3w?view_as=subscriber" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/social-circle/512/647397-youtube-128.png" height="40" width="40" ></a>
	  </div>
</body>
</html>