{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<html>


<body>
	{% block content %}
	<div class="home"  id="index">
		Welcome
	</div>
	
   	<div class="about" id="about">
   	 <h2> <span class="label label-default h2">About</span></h2><br>
   	 <p>Hello! my name is Nazila Rahma. You can call me Nazila. i'm 19 years old. I'm a student at the Faculty of Computer Science in the University of Indonesia. I am a friendly person, and i'm flexible to work at any time and place.  If you want to know more about me, just contact me! </p><br>
   	 <br><h3> <span class="label label-default h3"> Education Details</span></h2><br>
        <p>MI Adabiyah 2 Palembang<br>
        SMP LTI IGM Palembang<br>
        SMA N 3 Palembang<br>
        Universitas Indonesia</p><br>
   	 <br><h3> <span class="label label-default h3"> My Interest</span></h2><br>
	  	
   	         <img src="{% static 'microphone-sing.png' %}"  class="gambar rounded-circle">
   	     	 <img src="{% static 'guitar-icon-png-27.png' %}" class="gambar rounded-circle">
   	     	   <img src="{% static 'trip-icon-20.png' %}"  class="gambar rounded-circle">  
   			   <p>since I was a kid, I like music. I like to sing, and I like to play guitar. Besides that, I also really like traveling and shopping.</p><br> 
			    
   	<br><h3> <span class="label label-default h3">Skills</span></h2><br>
           <img src="{% static 'logo.png' %}"  class="gambar rounded-circle">
       	 <img src="{% static 'js.png' %}"  class="gambar rounded-circle">
       	   <img src="{% static 'html.png' %}"  class="gambar rounded-circle">
         	 <img src="{% static 'css.png' %}"  class="gambar rounded-circle">
         	   <img src="{% static 'jv.png' %}"  class="gambar rounded-circle">
   		   <br>
   	<div clas="container">
   	    <div class="row">
   	      <div class="col">
   	        <br><br><h3> <span class="label label-default h3">Organization</span></h2><br>
   				<div class="d-flex flex-row">
   				    <img src="{% static 'sistem.png' %}"  class="gambar1 rounded-circle">
   				    <p class="or">SISTEM Fasilkkom UI<br>Information Management</p><br>
   				 </div>
   				 <div class="d-flex flex-row">
   				<img src="{% static 'fuki.png' %}" class="gambar1 rounded-circle">
   				<p class="or">FUKI Fasilkom UI<br>Corporation</p>
   			</div>
			   
   	      </div>
   	      <div class="col">
   	        <br><br><h3> <span class="label label-default h3">Experience</span></h2><br>
   					<div class="d-flex flex-row">
   					    <img src="{% static 'cft.png' %}"  class="gambar1 rounded-circle">
   					    <p class="or">COMPFEST<br>Editorial Marketinng</p><br>
   					 </div>
   					 <div class="d-flex flex-row">
   					<img src="{% static 'siwak.png' %}"  class="gambar1 rounded-circle">
   					<p class="or">SIWAK-NG<br>Accomodation</p>
   				</div>
   	      </div>
   	    </div>
   	</div>
	
    </div>
 
 
{% endblock %}
</body>
{% load staticfiles %}
</html>