{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<html>


<body>
	{% block content %}	

 <div class="gallery-foto" id="gallery">
	<br><br><br><h2> <span class="label label-default h2">Gallery</span></h2><br>
 	<div class="foto-1">
		<img src="{% static 'IMG_4667.jpg' %}">
		<img src="{% static 'IMG-4860.jpg' %}">
		<img src="{% static 'IMG-4553.jpg' %}">
		<div class="text">
			Bromo
		</div>
 	</div>
	
 	<div class="foto-2">
		<div class="text">
			Family
		</div>
		<img src="{% static 'fam.jpg' %}">
		<img src="{% static 'fam1.jpg' %}">
 	   	<img src="{% static 'rsp.jpg' %}" >
 	   	
 	</div>
 	<div class="foto-1">
		<img src="{% static 'IMG-6610.jpg' %}">
		<img src="{% static 'IMG-6674.jpg' %}">
		<img src="{% static 'IMG-6726.jpg' %}">
		<div class="text">
			Maribaya
		</div>
 	</div>
 	<div class="foto-2">
		<div class="text">
			Friends
		</div>
		<img src="{% static 'IMG-2051.jpg' %}">
		<img src="{% static 'IMG-1453.jpg' %}">
		<img src="{% static 'IMG-3478.jpg' %}">
 	</div>
</div>
	 <div class="poetry" id="poetry">
		<br><br><br><h2> <span class="label label-default h2">Poetry</span></h2><br>
		<h3> <span class="label label-default h3">Biru</span></h2><br>

		<p>
		Sewindu di ruang sama semu<br>
		Dengan rasa berlika-liku<br>
		Dengan seiring waktu<br>
		Mulai jinak diriku<br>
		Maksud baik hati tuk mu<br>
		Tapi terlalu,<br>
		Hingga salah waktu<br>	
		Begitu cepat jatuhku<br>
		dengan niat awal tak begitu.<br>
		Kukira kau lambaikanku,<br>
		Tuk cerita tentang kalbu<br>
		Ternyata kau hanya butuh<br>
		Tuk lampiaskan tangismu<br>
		Yang telah lama dihantu.<br>
		Padahal telah kututup pintu<br>
		Agar makhluk tak ingin aku<br>
		Hingga harus kutahu<br>
		Bahwa kau bukan menunggu<br>	
		</p>

		<br><h3> <span class="label label-default h3">Berdakwah dari Hati</span></h2><br>

		<p>Dakwah bukan tentang siapa yang lebih islami<br>
			Juga bukan perkara siapa yang suci<br>
			Namun dakwah perintah sang ilahi<br>J
			uga ajaran dari sang para nabi<br>
	Tak apa walau hanya sedikit arti<br>
	Daripada diri tertusuk duri?<br>
	Dakwah adalah cinta dari hati<br>
	Mengajak insan perbaiki diri<br>
	Bersama melangkah surga abadi<br>
	Dakwah juga perihal mengobati<br>
	Tentang noda yang berapi-api<br>
	Meluruskan tikungan tajam tinggi<br>
	Membangun kedamaian negeri<br>
	Dengan para pemuda pemudi<br>
	Jangan menunggu hal tak pasti<br>
	Jangan juga menanti datangnya mati<br>
	Mari memulai tanpa kata nanti<br>
	Meski sedikit sulit dilampaui<br> 
	Menuju suci kita jalani  <br> <br> <br> <br> <br></p>
	 </div>
{% endblock %}
</body>
{% load staticfiles %}
  </html>