{% extends 'base.html' %}
{% load static %}

<html>
<body>
{% block content %}

<div class="post container">
	<div class="col-xl-6">
<br><br><br>
    <h2> <span class="label label-default h2">Schedule</span></h2>
	<br>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="label label-default h3 save btn btn-default">Save</button>
		<br><br>
    </form>
</div>
</div>

{% endblock %}
</body>
{% load staticfiles %}
</html>