{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<html>
<body>
	{% block content %}
<div class="show post container">
	<div class= "col-xl-6">
	<br><br><br><br>
	{% for post in postlist %}
		<div class="row row-striped">
					<div class="col-2 text-right">
						<h1 class="display-4"><span class="badge badge-secondary">{{ post.deftanggal }}</span></h1>
						<h2>{{ post.bulan }}</h2>
					</div>
					<div class="col-10">
						<h3 class="text-uppercase"><strong>{{ post.namaKegiatan }}</strong></h3>
						<ul class="list-inline">
						    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ post.hari }}</li>
							<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.jam }}</li>
							<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ post.tempat }}</li>
						</ul>
						<p>{{ post.kategori }}</p>
					</div>
					
				</div>
				<form action="{% url 'homepage:delete' post.id %}" method="post">
					{% csrf_token %}
				    <input type="hidden" name="post_id" value="{{ post.id }}"/>
				        <button type="" class="btn btn-info " style="margin-left: 30%;" >
							
				         Hapus
				        </button> 
				</form>
	{% endfor %}
	<br>
		
		<br><br><br><br>
	</div>
</div>
{% endblock %}
</body>
{% load staticfiles %}
</html>